div{
    width: 200px;
    height: 200px;
    position: relative;
    background-color: blue;
    animation: myfirstanimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 10s;
    animation-direction: alternate-reverse;
    background-size: cover;
    background-position: center;

}
@keyframes myfirstanimation
{
  0%{background-color: blue;left:280px; top: 0px;}  
  25%{background-image: url('/images/pic1.jpg');left:400px; top: 180px;}  
  50%{background-color: brown;left:280px; top: 280px;}  
  75%{background-image: url('/images/pic2.png');left:80px; top: 180px;}  
  100%{background-color: blue;left:280px; top: 0px;} 

}